.card-list{
    width:100%;
    margin:0 auto;
    /* padding: 10% 20px; */
    display:flex;
    flex-wrap: wrap;
    margin:20px 0;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-gap:20px; */
    /* padding: 10px 40px; */
    
   
    
    /* display: flex; */
    /* flex:25%; */
    /* flex-wrap: wrap; */

}